* {
    -fx-focus-color: -fx-dark;
    -fx-faint-focus-color: rgba(149, 157, 165, 0.09);
}

.button {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #959DA5;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.button:pressed {
    -fx-background-color: #c3c3c3;
    -fx-transition-duration: 0.1s;
}

.button:disabled {
    -fx-background-color: rgba(250, 251, 252, 0.45);
    -fx-border-color: #959DA5;
    cursor: default;
}

.searching {
    -fx-background-color: #d6e4d6;
    -fx-border-color: #6b985f;
}

.combo-box .list-view .list-cell:filled:selected,
.combo-box .list-view .list-cell:filled:hover {
    -fx-background-color: #959DA5;
}

.combo-box {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #959DA5;
    -fx-border-radius: 4px;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #959DA5;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-border-color: transparent;
}